@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;800&display=swap');

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --nav-color: #555555;
  --dark-color: #303030;
  --green-color: #45b835;
}
body {
  font-family: 'Poppins';
}
ul{
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
.content__wrap {
  width: 80%;
  margin: 0 auto;
}
/* .branding {
  display: inline-block;
} */

/* navbar Starts....................................... */
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 497px; */
  min-height: 70px;
  position: fixed;
  z-index: 2;
  overflow: hidden;
}
.navbar.active {
  background-color: var(--nav-color);
}
.navbar .content__wrap {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  overflow: hidden;
}
/* .navbar .branding{
  width: 50px;
  height: 50px;
}

.navbar .branding img{
  width: 30px;
  height: 30px;
} */

.open__slide {
  display: block;
  float: right;
  padding: 10px;
  z-index: 1;
  right: 20px;
  top: 20px;
}
.open__slide.active {
  z-index: 5;
}
.desk__nav {
  display: none;
  float: right;
}
.desk__nav ul li {
  display: inline-block;
  padding: 0 10px 0 10px;
}
.check.current {
  font-weight: bold;
  color: var(--green-color);
}

.desk__nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;

}
.desk__nav ul li a:hover {
  letter-spacing: 1px;
  color: var(--green-color);
}
.download__cv {
  display: none;
  float: right;
  margin-top: 1.5rem;
  /* transform: translateX(600px); */
}
.download__cv a {
  color: var(--green-color);
  font-weight: 900;
  font-size: 1.2rem;
  border: 1px solid var(--green-color);
  border-radius: 40px;
  padding: 25px;
}

.side__nav {
  min-height: 100%;
  width: 100%;
  position: fixed;
  /* top: 80px; */
  z-index: 1;
  transform: translateY(-150%);
  background-color: #555555;
  opacity: 1;
  overflow-y: hidden;
  padding: 20px 0;
  transition: .7s;
}
.side__nav.active {
  transform: translateY(0)
}
.side__nav ul {
  margin-top: 70px;
}
.side__nav ul li a {
  text-align: center;
  padding: 20px 10px 20px 20px;
  text-decoration: none;
  font-weight:bold;
  font-size: 1.5rem;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.side__nav a:hover {
  color: #45b835;
}
/* hamburger-menu...............................*/
.menu__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
}
.menu__btn--burger {
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .2s ease-in-out;
}
.menu__btn--burger::before, 
.menu__btn--burger::after  {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(53, 33, 26, 0.2);
    transition: all .5s ease-in-out;
}
.menu__btn--burger::before {
    transform: translateY(-10px);
}
.menu__btn--burger::after {
    transform: translateY(10px);
}
/* Animation */
.menu__btn.open .menu__btn--burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu__btn.open .menu__btn--burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu__btn.open .menu__btn--burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
/* hamburger menu end.........................*/
/* navbar Ends....................................... */

main { 
  width: 100%;
  position: absolute;
  top: 600px;
  
}
/* showcase Starts................................... */
#showcase {
  width: 100%;
  min-height: 600px;
  overflow: hidden;
  background: url('../img/main-dp.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -2;
}
/* showcase Ends..................................... */


/* main {
  width: 100%;
} */
/* section-A Ismael-Mansaray Starts.................................. */
#section__A {
  width: 100%;
  min-height: 550px;
  background-color: var(--dark-color);
  border-bottom: 1px dashed #fff;
  color: #fff;
  text-align: center;
  line-height: 30px;
  position: relative;
  /* position: absolute; */

  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

#section__A::before {
  display: none;
}


#section__A .txt {
  margin-top: 120px;
  padding-bottom: 40px;
  font-size: 1.1rem;
  line-height: 2rem;
}
#section__A .bg__circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: var(--dark-color);
  position: absolute;
  transform: translateY(-280px);
}
#section__A .bg__circle .moving__circle {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 3px inset #45b835;
  position: absolute;
  top: 10px;
  left: 10px;
  animation: moving-circle 1s linear infinite;
}
@keyframes moving-circle {
  0% {
    transform: rotate(360deg)
  }
}
#section__A .bg__circle::after {
  content: '';
  position: absolute;
  top: 130px;
  left: 0;
  width: 250px;
  height: 150px;
  background-color: var(--dark-color);
}
#section__A .bg__circle h1 {
  font-size: 2.4rem;
  margin-top: 75px;
  line-height: 40pt;
  position: absolute;
  z-index: 1;
}
/* text Animation*/
.text__wrap {
  font-size: 1.5rem;
  display: inline-flex;
  text-align: left;
  position: absolute;
  transform: translateY(-120px);
}
.text__wrap .static__txt {
  font-weight: 400;
}
.text__wrap .dynamic__txts {
  margin-left: 10px;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
}
.dynamic__txts li {
  color: #45b835;
  list-style: none;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 6s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -128px;
  }
}
.dynamic__txts li span {
  position: relative;
}
.dynamic__txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  background-color: #303030;
  padding: 16px;
  height: 100%;
  width: 100%;
  border-left: 1px solid #45b835;
  animation: typing 1.5s steps(10) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -15px 0 15px;
  }
}
/* text Animation Ends*/

#section__A .btn {
  font-size: 2rem;
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  color: #45b835;
  /* border: 1px solid #45b835; */
  border: 1px solid #00ff00;
  box-shadow: 0 0 20px #00ff00;
  border-radius: 30px;
}
#section__A .btn:hover {
  color: var(--dark-color);
  background-color: #45b835;
}
.arrow__motion {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 125px;
  right: 90px;
}
.arrow__motion img{
  display: block;
  width: 15px;
  animation: arrow 400ms ease-in-out infinite; 
}

.arrow__motion p{
  margin-top: 10px;
}

@keyframes arrow {
  100% {
    transform: translateY(10px)
  }
}
/* section-A Ends................................. */


/* section-B About-me Starts................................*/
#section__B {
  min-width: 100%;
  min-height: 800px;
  background-color: var(--dark-color);
  text-align: center;
  color: #fff;
  border-bottom: 1px dashed #fff ;
  overflow: hidden;

}
#section__B h2,
#section__C h2,
#section__D h2,
#section__E h2, 
#section__F h2 {
  font-size: 2rem;
  padding-top: 50px;
}
#section__B h3,
#section__C h3,
#section__D h3,
#section__E h3,
#section__F h3{
  padding: 10px 0 40px 0;
  font-weight: 400;
  color:#45b835;
}
#section__B p {
  text-align: center;
  font-size: 12pt;
  line-height: 20pt;
  margin-bottom: 30px;
}
#section__B ul {
  text-align: left;
  font-size: 1.1rem;
  margin-bottom: 50px;
}
#section__B ul li {
  list-style: none;
  padding: 5px 0;
}
#section__B ul li span {
  color: #45b835;
  font-weight: bold;
}
/* section-B Ends...............................*/


/* section-C Design-skills Starts............................ */
#section__C {
  min-width: 100%;
  /* width: 497px; */
  min-height: 600px;
  background-color: var(--dark-color);
  text-align: center;
  color: #fff;
  border-bottom: 1px dashed #fff ;
  overflow: hidden;

}

#section__C h3 {
  padding-bottom: 10px;
}

#section__C ul li h2 {
  padding-bottom: 10px;
  padding-top: 20px;
}
#section__C ul li p {
  line-height: 15pt;
}
#section__C progress {
  width: 90%;
  height: 3px;
  background-color: #45b835;
}
#section__C ul {
  text-align: left;
  list-style: none;
}
#section__C ul li {
  padding-bottom: 25px;
}

#section__C ul li:nth-child(+n + 4){
  margin-bottom: 50px;
}
/* progress bar............... */
.skill {
  width: 95%;
  max-width: 497px;
  padding-top: 30px;
  overflow: hidden;
}
.skill__bar {
  height: 5px;
  background-color: #cacaca;
  border-radius: 8px;
}
.skill__per {
  height: 5px;
  background-color: #45b835;
  border-radius: 8px;
  width: 0;
  position: relative;
}
.skill__per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}
.skill__per::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #000;
  top: -12px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}
.progress {
  animation: load 2000ms ease-in-out ;
}
@keyframes load {
  0% {
    margin-left: -100%;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
/* section-C Ends.......................................... */

/* section-D Coding-skills starts.......................... */
#section__D {
  min-width: 100%;
  /* width: 497px; */
  min-height: 600px;
  background-color: var(--dark-color);
  text-align: center;
  color: #fff;
  border-bottom: 1px dashed #fff ;
  overflow: hidden;

}
.code__skills {
  display: grid;
  justify-content: space-around;
  align-content: center;
  grid-template-columns: repeat(2, auto);
}
#section__D .code__skill {
  width: 160px;
  height: 170px;
  text-align: left;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#section__D .code__skill h4 {
  color: #fff;
  padding-top: 30px ;
  padding-bottom: 20px;
}
.cir__bar {
    width: 100px;
    height: 100px;
    /* background-color:lawngreen; */
    position: relative;
}
.outer {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 6px 6px 10px -1px rgba(221, 221, 221, 0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
}
.inner {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    box-shadow: inset 4px 4px 6px -1px rgba(199, 199, 199, 0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px -0.5px 0px rgba(196, 196, 196, 0.15),
                0px 12px 10px -10px rgba(165, 165, 165, 0.5);
}
#number {
    font-weight: 600;
    color: #fff;
    font-size: 1.4rem;
}
.circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 10px;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    /* animation: anim 2s linear forwards; */
}
.progress.nodejs__ani {
  animation: nodejs-ani 2s linear forwards;
}
.progress.scss__ani{
  animation: scss-ani 2s linear forwards;
}
.progress.javascript__ani {
    animation: javascript-ani 2s linear forwards;
}
.progress.react__ani {
    animation: react-ani 2s linear forwards;
}
@keyframes react-ani {
  100% {
      stroke-dashoffset: 170;
  }
}
@keyframes javascript-ani {
  100% {
      stroke-dashoffset: 145;
  }
}
@keyframes scss-ani {
  100% {
      stroke-dashoffset: 150;
  }
}
@keyframes nodejs-ani {
  100% {
    stroke-dashoffset: 150;
  }
}
svg {
    position: absolute;
    top: 0;
    left: 0;
}
/* section-D starts.............................*/

/* section-E Reviews starts.............................*/
#section__E {
  min-width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark-color);
  text-align: center;
  color: #fff;
  border-bottom: 1px dashed #fff ;
  overflow: hidden;
}

#section__E .carousel {
  text-align: center;
  width: 410px;
  height: 400px;
  overflow: hidden;
}
#section__E .carousel__box {
  display: flex;
  transition: transform 0.5s linear;
}
#section__E .container {
  min-width: 410px;
  height: 400px;
  padding: 0 40px;
  line-height: 1.3rem;
  font-size: 1.2rem;
  /* transition: transform 0.7 linear; */
}
#section__E .container p{
  font-size: 1rem;
  /* transition: transform 0.7 linear; */
}

#section__E .container h2, h3{
  padding: 0;
}
#section__E .container img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  margin-bottom: 10px;
}
/* section-E ends.............................*/


/* section-F Contact starts.............................*/
#section__F {
  min-width: 100%;
  min-height: 400px;
  background-color: var(--dark-color);
  text-align: center;
  color: #fff;
  overflow: hidden;
}

.contact__links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 0 10px 0 10px;
}

.contact__links a{
  margin: 0 10px 0 10px;
}
.contact__links a:hover{
  color: var(--green-color)
}


/* media query ....................................*/
@media only screen and (min-width: 990px) {
  html {
    scroll-padding-top: 6rem;
  }
  .open__slide {
    display: none;
  }
  .navbar.active {
  background-color: var(--nav-color);
  }
  
  .navbar {
    width: 50%;
    margin: 30px 30px;
    /* border: 1px solid #00ff00;
    box-shadow: 0 0 20px #00ff00; */
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--nav-color);
    /* margin-top: 30px; */
    border-radius: 50px;
  }

  .navbar .content__wrap {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .desk__nav {
    display: block;
  }
  .download__cv {
    display: block;
  }
  #showcase {
    position: fixed;
    width: 45%;
    height: 100vh;
  }
  main {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    text-align: left;
  }
  #section__A {
    height: 750px;
    /* overflow: hidden; */
  }

  #section__A .abstrat-background{
    position: relative;
    width: 100%;
    min-height: 550px;
    overflow: hidden;
    position: absolute;
    top: 0;
    /* z-index: 1; */
  }

  #section__A .abstrat-background::before {
    content: " ";
    position: absolute;
    top: 10px;
    right: -250px;
    width: 900px;
    height: 400px;
    background-image: url('../img/bg-forall.png');
    background-blend-mode: normal;
    background-size: 900px 250px;
    background-repeat: no-repeat;
    z-index: 1;
    transform: rotate(45deg);
    opacity: 70%;
    display: block;

  }
  #section__A .bg__circle {
    position: absolute;
    left: -130px;
    top: 400px;
    /* transform: translateY(-280px); */

  }
  #section__A .bg__circle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 130px;
    height: 250px;
  }
  
  #section__A .bg__circle h1 {
    margin-top: 80px;
    line-height: 40pt;
    position: absolute;
    left: 30px;
    text-align: center;
    z-index: 1;
  }
  #section__A .txt {
    margin-top: 320px;
  }
  .arrow__motion {
    display: flex;
  }
  .text__wrap {
    position: absolute;
    top: 520px;
    left: 74px;
  }
  #section__A, 
  #section__B, 
  #section__C {
    text-align: left;
  }
  #section__B p {
    text-align: left;
  }
}





